/*reset*/
    *, *:before, *:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    display: flex;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/**/

html {
  height: 100%;
}
body {
    display: flex;
    background-color: gray;
    min-height: 100%;
}


.leftPanel{
    display: flex;
    
    width: 15%;
    border: 2px solid blue;
}




.mainPanel{
    display: flex;
    flex-direction: column;
    
    width: 85%;
    border: 2px solid black;
}
.mainHeader{
    display: flex;
    height: 3vw;
    width: 100%;
    border: 2px solid blue;
}
.innerMiddlePanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto 40%;
}

.newTaskButtonMain{
    padding: 0.75rem 1.75rem;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.newTaskButtonMainText{
    font-size: xx-large;
    margin-bottom: 1rem;
    max-height: 150px;
}