/*reset*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    
    scroll-behavior: smooth;
}

svg {
    display: flex;
    max-width: 100%;
    max-height: 100%;

}

img {
    display: flex;
    max-width: 100%;
    max-height: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/**/



body {
    display: flex;
    
    background-color: rgb(45, 45, 45);
}


.leftPanel {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 15vw;
    height: 100vh;
    border: 0.1rem solid white;
    border-bottom: 0;
    background-color: black;
     overflow: hidden;
}

.headerLeftPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    margin-top: 2vh;
    width: 100%;
    background-color: black;
}

.leftPanelYourProjectHeaderText {
    display: flex;
    justify-content: center;
    height: fit-content;

    
    font-size: 1.5vw;
    margin: 0 auto;
    color: white;
    margin-bottom: 2.5vh;

}

.defaultProject {
    display: flex;
    justify-content: center;

    height: fit-content;


    flex-direction: row;

    max-height: fit-content;

    padding: 2vh 0;

    border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
    font-size: 1vw;

    overflow: auto;

    flex-flow: row;
    user-select: none;
    cursor: pointer;

    
}

.defaultProject:hover {
    background-color: rgb(92, 92, 92);
}

.defaultProject:active {
    background-color: rgb(45, 45, 45);
}

.projectText {
    color: white;
    margin: auto 0;
    margin-left: 0.5vw;
    justify-content: center;
}

.leftPanelAddNewProject {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.leftPanelYourProjectHeaderPlusButton {
    display: block;

    font-size: 1vw;

    height: 3em;
    width: 3em;


    margin: 0 auto;
    margin-top: 2vw;
    cursor: pointer;
    border-radius: 5vh;
    border: 0.1rem solid white;
    font-weight: bold;

    color: white;
    background-color: black;

}

.leftPanelYourProjectHeaderPlusButton:hover {
    background-color: rgb(92, 92, 92);
}

.leftPanelYourProjectHeaderPlusButton:active {
    background-color: rgb(45, 45, 45);
}



#newProjectLeftPanel{
    display: none;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: fit-content;
    min-height: fit-content;
    background-color: black;
    border-radius: 1rem;
    border: 0.1rem solid white;
}
.newProjectLeftPanelInput{
    text-align: center;
    max-height: fit-content;
    min-height: 2.5rem;
    width: fit-content;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 0.1rem solid white;
}
.newProjectLeftPanelInput:focus {
    outline: none;
}
.newProjectLeftPanelButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    font-size: 2rem;
    
    margin: auto;
    margin-top: 1rem;
    margin-bottom:1rem;
    

}
.newProjectLeftPanelIconButton{
    cursor: pointer;
    margin: 0 auto;
    border: 0.1rem solid white;
    border-radius: 1rem;
    
    font-weight: bold;
    border-color: white;
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
    
}
.newProjectLeftPanelAddProjectButton{
    cursor: pointer;
    margin: 0 auto;
    border: 0.1rem solid white;
    border-radius: 1rem;
    font-weight: bold;
    border-color: white;
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
    justify-content: flex-end;
    
}
.projectNameWarningLeftPanelDiv{
    display: none;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    user-select: none;
}
.ProjectNameWarningLeftPanel{
    color: rgb(211, 23, 23);
    font-weight: bold;
}










.mainPanel {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex: 75vw;
}

.mainHeader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 5vh;


    border: 2px solid white;
    border-left: 0px;
    border-right: 0px;
    background-color: black;
}

/* .mainHeaderHomeDiv{
    display: flex;
    justify-items: center;
    height: 100%;
    margin: auto 0;
    margin-right: 0.5rem;
    border-right: 2px solid white;
}
.mainHeaderHomeText{
    color: white;
    font-size: 1vw;
    margin: auto 0;
    margin-right: 0.5rem;
} */


.innerMiddlePanelOverlay {
    display: flex;
    flex-direction: column;

    background-color: rgb(45, 45, 45);



}

.innerMiddlePanel {
    display: flex;

    background-color: rgb(45, 45, 45);
    flex-direction: column;
    justify-content: flex-start;
}

.createTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25vh auto;
    width: 60rem;
    height: 20rem;
}

.newTaskButtonMain {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 15vw auto;
    margin-top: 0;
    cursor: pointer;
    font-weight: bold;
    border-color: white;
    color: white;
    background-color: black;

}

.newTaskButtonMainText {
    font-size: 2.5rem;

    margin: 15vw auto;
    margin-bottom: 1.5rem;
    color: white;
}




#taskForm {
    display: none;
}

.taskForm {
    flex-direction: column;
    background-color: black;
    justify-content: center;
    margin: 25vh auto;
    width: 60rem;
    height: 20rem;
    border-radius: 1.5rem;
    border: 2px solid white;
}

.taskFormInput {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;


}

.taskFormInputTitle {
    color: white;
    background-color: black;
    border: none;
    text-indent: 1rem;
    font-size: 2rem;
    height: 100%;
    border-radius: 5vw;
}

.taskFormInputTitle:focus {
    outline: none;
}

.taskFormInputDescription {
    height: 4rem;
    resize: none;
    color: white;
    background-color: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-indent: 1rem;
    font-size: 1rem;

}

.taskFormInputDescription:focus {
    outline: none;
}



.taskFormOptions {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 1rem;

}

.taskFormOption {
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 2px solid white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.taskFormOption:hover {
    background-color: rgb(92, 92, 92);
}

.taskFormOption:active {
    background-color: rgb(45, 45, 45);
}

.taskFormOptionText {
    color: white;
    margin: auto 0;
}

[id^="btn"].taskFormOptionText {
    margin-left: 0.5rem;
}

#btn4.taskFormOptionText {
    margin-left: 0;
}

#btn6.taskFormOptionText {
    margin-left: 0;
}

#btn7.taskFormOptionText {
    margin-left: 0;
}



.taskFormFinalize {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;

}

.taskFormFinalizeLeft {
    float: inline-start;
}

.taskFormFinalizeRight {
    float: inline-end;
}

#btn5.taskFormOptionText {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.taskFormFinalizeProjectSelectButton {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    background-color: black;
    border: 2px solid white;
    border-radius: 1rem;
    cursor: pointer;
}


.taskFormFinalizeCancelButton {
    padding: 1.5rem 2rem;
    background-color: black;
    border: 2px solid white;
    border-radius: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}


.taskFormFinalizeAddTaskButton {
    padding: 1.5rem 2rem;
    background-color: black;
    border: 2px solid white;
    border-radius: 1rem;
    cursor: pointer;
}

#btn5.taskFormFinalizeProjectSelectButton:hover,
#btn6.taskFormFinalizeCancelButton:hover,
#btn7.taskFormFinalizeAddTaskButton:hover {
    background-color: rgb(92, 92, 92);
}

#btn5.taskFormFinalizeProjectSelectButton:active,
#btn6.taskFormFinalizeCancelButton:active,
#btn7.taskFormFinalizeAddTaskButton:active {
    background-color: rgb(45, 45, 45);
}